.popup-card{
    padding:12px 0;
    width: 100%;
    min-width: 400px;
    top: 35px;
    left: -150px;
    z-index: 9;
}
.popup-list-item{
    padding: 12px 20px;
    width: 100%;
}
.popup-list-item svg{
    margin-right: 16px;
}