/* This files contains all the classes similar to the Bootstrap for manging the common structure*/

/*
1. Margins
2. Paddings
3. Displays
4. Positions
5. Foreground Colors
6. Background-colors
7. Opacity
8. Overflow
9. Buttons
10. Font-families
11. Flex Columns
12. Typography
13. Border Radius & Border
14. Font Weight
15. Badges
16. Forms
17. Drop-Downs
18. Accordians
19. Toggle Button
20. Text Transformation
*/

:root{
  --primary:#875ECD;
  --secondary:#111;
  --dark-grey:#4C4C4C;
  --light-grey:#9D9D9D;
  --hover:linear-gradient(94.07deg, #DC4CB4 0%, #B147E2 100%);
  --gradient:linear-gradient(96.06deg, #FEAC5E 0%, #C779D0 50%, #4BC0C8 100%);
  --danger:#EB5951;
  --success:#01C567;
  --white:#fff;
  --smoke-white:#F3F3F3;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,body{
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 1.5;
  box-sizing: border-box;
}

/* Margins Starts */
.m-0{
  margin:0;
}
.m-1{
  margin:0.8rem;
}
.m-2{
  margin:1.6rem;
}
.m-3{
  margin:2.4rem;
}
.m-4{
  margin:3.2rem;
}
.m-5{
  margin:4rem;
}

.mb-0{
  margin-bottom:0;
}
.mb-1{
  margin-bottom:0.8rem;
}
.mb-2{
  margin-bottom:1.6rem;
}
.mb-3{
  margin-bottom:2.4rem;
}
.mb-4{
  margin-bottom:3.2rem;
}
.mb-5{
  margin-bottom:4rem;
}

.mt-0{
  margin-top:0;
}
.mt-1{
  margin-top:0.8rem;
}
.mt-2{
  margin-top:1.6rem;
}
.mt-3{
  margin-top:2.4rem;
}
.mt-4{
  margin-top:3.2rem;
}
.mt-5{
  margin-top:4rem;
}

.mr-0{
  margin-right:0;
}
.mr-1{
  margin-right:0.8rem;
}
.mr-2{
  margin-right:1.6rem;
}
.mr-3{
  margin-right:2.4rem;
}
.mr-4{
  margin-right:3.2rem;
}
.mr-5{
  margin-right:4rem;
}

.ml-0{
  margin-left:0;
}
.ml-1{
  margin-left:0.8rem;
}
.ml-2{
  margin-left:1.6rem;
}
.ml-3{
  margin-left:2.4rem;
}
.ml-4{
  margin-left:3.2rem;
}
.ml-5{
  margin-left:4rem;
}

/* Margins Ends */

/* Padding Starts */

.p-0{
  padding:0;
}
.p-1{
  padding:0.8rem;
}
.p-2{
  padding:1.6rem;
}
.p-3{
  padding:2.4rem;
}
.p-4{
  padding:3.2rem;
}
.p-5{
  padding:4rem;
}

.pb-0{
  padding-bottom:0;
}
.pb-1{
  padding-bottom:0.8rem;
}
.pb-2{
  padding-bottom:1.6rem;
}
.pb-3{
  padding-bottom:2.4rem;
}
.pb-4{
  padding-bottom:3.2rem;
}
.pb-5{
  padding-bottom:4rem;
}

.pt-0{
  padding-top:0;
}
.pt-1{
  padding-top:0.8rem;
}
.pt-2{
  padding-top:1.6rem;
}
.pt-3{
  padding-top:2.4rem;
}
.pt-4{
  padding-top:3.2rem;
}
.pt-5{
  padding-top:4rem;
}

.pr-0{
  padding-right:0;
}
.pr-1{
  padding-right:0.8rem;
}
.pr-2{
  padding-right:1.6rem;
}
.pr-3{
  padding-right:2.4rem;
}
.pr-4{
  padding-right:3.2rem;
}
.pr-5{
  padding-right:4rem;
}

.pl-0{
  padding-left:0;
}
.pl-1{
  padding-left:0.8rem;
}
.pl-2{
  padding-left:1.6rem;
}
.pl-3{
  padding-left:2.4rem;
}
.pl-4{
  padding-left:3.2rem;
}
.pl-5{
  padding-left:4rem;
}

/* Padding Ends */

/* Display Starts */

.d-flex{
  display: flex;
}
.d-grid{
  display: grid;
}
.d-block{
  display: block;
}
.d-inline{
  display: inline;
}
.d-inline-block{
  display: inline-block;
}
.d-inline-flex{
  display: inline-flex;
}
.d-inherit{
  display: inherit;
}
.d-none{
  display: none;
}

.d-flex-wrap{
  flex-wrap:wrap;
}
.d-flex-row{
  flex-direction:row;
}
.d-flex-column{
  flex-direction: column;
}
.d-flex-row-reverse{
  flex-direction: row-reverse;
}
.d-flex-column-reverse{
  flex-direction: column-reverse;
}

.d-align-center{
  align-items:center;
}
.d-align-start{
  align-items:flex-start;
}
.d-align-end{
  align-items:flex-end;
}
.d-align-baseline{
  align-items:baseline;
}

.d-justify-center{
  justify-content:center;
}
.d-justify-start{
  justify-content:flex-start;
}
.d-justify-end{
  justify-content:flex-end;
}
.d-justify-space-between{
  justify-content: space-between;
}
.d-flex-100{
  flex: 1 1;
}
/* Display Ends */

/* Positions Starts */

.p-relative{
  position: relative;
}
.p-absolute{
  position: absolute;
}
.p-fixed{
  position: fixed;
}
.p-sticky{
  position: sticky;
}
.p-static{
  position: static;
}
.p-inherit{
  position: inherit;
}
.p-initial{
  position: initial;
}
.p-unset{
  position: unset;
}
/* Positions Ends */

/* Foreground Colors */
.text-primary{
  color: var(--primary);
}
.text-secondary{
  color: var(--secondary);
}
.text-grey{
  color: var(--dark-grey);
}
.text-light-grey{
  color:var(--light-grey);
}
.text-white{
  color:#fff;
}
.text-danger{
  color:var(--danger)
}
.text-success{
  color: var(--success);
}
.text-gradient{
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* End Background Colors */

/* Foreground Colors */
.bg-primary{
  background-color: var(--primary);
}
.bg-secondary{
  background-color: var(--secondary);
}
.bg-grey{
  background-color: var(--dark-grey);
}
.bg-light-grey{
  background-color:var(--light-grey);
}
.bg-white{
  background-color:#fff;
}
.bg-danger{
  background-color:var(--danger)
}
.bg-success{
  background-color: var(--success);
}
.bg-smoke{
  background-color: var(--smoke-white);
}
/* End Background Colors */

/* Opacity Starts */
.op-1{
  opacity:1;
}
.op-01{
  opacity:0.1;
}
.op-03{
  opacity:0.3;
}
.op-04{
  opacity:0.4;
}
.op-05{
  opacity:0.5;
}
.op-06{
  opacity:0.6;
}
.op-07{
  opacity:0.7;
}
.op-08{
  opacity:0.8;
}
.op-09{
  opacity:0.9;
}

/* Opacity Ends */

/* Overflow Starts */
.o-hidden{
  overflow:hidden;
}
.ox-hidden{
  overflow-x:hidden;
}
.oy-hidden{
  overflow-y:hidden;
}

.o-scroll{
  overflow:scroll;
}
.ox-scroll{
  overflow-x:scroll;
}
.oy-scroll{
  overflow-y:scroll;
}

.o-visible{
  overflow:visible;
}
.ox-scroll{
  overflow-x:visible;
}
.oy-scroll{
  overflow-y:visible;
}
/* Overflow Ends */

/* Buttons Starts */

.btn{
  padding:1.4rem 2.45rem; 
  font-style: normal;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 1.5;
  display: inline-block;
  text-align: center;
  cursor:pointer;
  
}
.btn-primary{
  background: var(--secondary);
  color: var(--white);
  border-radius: 12px;
  border: 1px solid var(--secondary);
}
.btn-secondary{
  background: var(--white);
  color: var(--secondary);
  border-radius: 12px;
  border: 1px solid var(--secondary);
}
.btn-default-width{
  min-width:192px;
}
.btn-rounded{
  border-radius: 100px;
}
.btn-small{
  padding:0 2rem;
  height: 52px; 
  font-style: normal;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor:pointer;
}
.btn-icon-only{
  height: 52px;
  width: 52px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor:pointer;
}
.btn-big{
  width:220px;
  height:52px;
  color:white;
  background-color: #000;
}

/* Button Ends */

/* Font-families Starts */
.primary-font{
  font-family: 'Fraunces', serif;
}
.secondary-font{
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.popin-font{
  font-family: 'Poppins', sans-serif;
}
/* Font-families Ends */

/* Columns Starts */
.col-1{
  width: calc(100% / 12 * 1);
}
.col-2{
  width: calc(100% / 12 * 2);
}
.col-3{
  width: calc(100% / 12 * 3);
}
.col-4{
  width: calc(100% / 12 * 4);
}
.col-5{
  width: calc(100% / 12 * 5);
}
.col-6{
  width: calc(100% / 12 * 6);
}
.col-7{
  width: calc(100% / 12 * 7);
}
.col-8{
  width: calc(100% / 12 * 8);
}
.col-9{
  width: calc(100% / 12 * 9);
}
.col-10{
  width: calc(100% / 12 * 10);
}
.col-11{
  width: calc(100% / 12 * 11);
}
.col-12{
  width: calc(100% / 12 * 12);
}

.offset-1{
  margin-left: calc(100% / 12 * 1);
}
.offset-2{
  margin-left: calc(100% / 12 * 2);
}
.offset-3{
  margin-left: calc(100% / 12 * 3);
}
.offset-4{
  margin-left: calc(100% / 12 * 4);
}
.offset-5{
  margin-left: calc(100% / 12 * 5);
}
.offset-6{
  margin-left: calc(100% / 12 * 6);
}
.offset-7{
  margin-left: calc(100% / 12 * 7);
}
.offset-8{
  margin-left: calc(100% / 12 * 8);
}
.offset-9{
  margin-left: calc(100% / 12 * 9);
}
.offset-10{
  margin-left: calc(100% / 12 * 10);
}
.offset-11{
  margin-left: calc(100% / 12 * 11);
}

/* Coulmns Ends */

/* Typography Starts */

.h1,h1{
  font-size: 110px;
  line-height: 130px;
  font-family: 'Fraunces', serif;
  margin: 0 0 1.6rem 0;
}
.h2,h2{
  font-size: 33px;
  line-height: 1.5;
  font-family: 'Fraunces', serif;
  margin: 0 0 1.6rem 0;
}
.h3,h3{
  font-size: 28px;
  line-height: 1.5;
  font-family: 'Fraunces', serif;
  margin: 0 0 1.6rem 0;
}
.h4,h4{
  font-size: 23px;
  line-height: 1.5;
  font-family: 'Fraunces', serif;
  margin: 0 0 1.6rem 0;
}
.h5,h5{
  font-size: 19px;
  line-height: 1.5;
  font-family: 'Fraunces', serif;
  margin: 0 0 1.6rem 0;
}
.h6,h6{
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Fraunces', serif;
  margin: 0 0 1.6rem 0;
}
.font-19{
  font-size: 19px;
}
.font-16{
  font-size: 16px;
}
.font-40{
  font-size: 40px;
}
.l-22{
  line-height: 22px;
}
.l-26{
  line-height: 26px;
}
.l-28{
  line-height: 28px;
}

p{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 19px;
  line-height: 1.5;
  margin: 0 0 1.5rem 0;
}
a{
  font-family: 'Plus Jakarta Sans', sans-serif;
  text-decoration: none;
}
span{
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  font-family: inherit;
}
ul,ol{
  padding: 0 0 0 1.6rem;
  margin: 0 0 1.6rem 0;
}
li{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 19px;
  line-height: 1.5;
}
.list-style-none{
  list-style: none;
}
div{
  font-size: 1.6rem;
}
.cursor-pointer{
  cursor: pointer;
}
.user-select-none{
  user-select: none;
}
/* Typography Ends */

/* Border Radius Starts */
.rounded{
  border-radius:12px; 
}
.rounded-20{
  border-radius: 20px;
}
.rounded-50{
  border-radius: 50%;
}
.border{
  border: 1px solid #E6E6E6;
}
/* Border Radius Ends */

/* Font Weight */
.f-100{
  font-weight: 100;
}
.f-200{
  font-weight: 200;
}
.f-300{
  font-weight: 300;
}
.f-400{
  font-weight: 400;
}
.f-500{
  font-weight: 500;
}
.f-600{
  font-weight: 600;
}
.f-700{
  font-weight: 700;
}
.f-800{
  font-weight: 800;
}

/* Font Weight Ends */

/* Badges Starts */
.badge-success{
  background: rgba(75, 192, 200, 0.1);
  color:#4BC0C8;
  border:none;
  padding:14px 24px; 
  font-size: 1.9rem;
  line-height: 1.5;
  border-radius:100px;
}
/* Badges Ends */

/* Form Start */
form input{
  font-size:1.9rem;
  line-height: 2.85rem;
  font-weight: 400;
  color: var(--secondary);
  font-family: 'Plus Jakarta Sans', sans-serif;;
}
/* Form Ends */

/* Drop Down Starts */
.drop__down-list{
  list-style: none;
  height: 52px;
  overflow: hidden;
}
.drop__down-list.active{
  height: auto;
}
.drop__down-list > li.drop__down-list-placeholder{
  padding: 11.5px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.drop__down-list > li{
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.drop__down-list > li:hover{
  background-color: var(--smoke-white);
}
.drop__down-list > li:last-child{
  padding-bottom: 13.5px;
}
/* Drop Down Ends */
/* Accordian Starts */
.accordian{
  height:77px;
  overflow: hidden;
}
.accordian.active{
  height: auto;
}
.accordian-faq{
  height:30px;
  overflow: hidden;
}
.accordian-faq.active{
  height: auto;
}
/* Accordian Ends */

/* Toggle Starts */
.rectangle {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;
  
}

.rectangle input {
  display: none;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  rgba(126, 87, 194, 0.12);
  transition: .4s;
  border-radius: 500px;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 2px;
  background-color: #999999;
  transition: .4s;
  border-radius: 500px;
  
}

input:checked + .toggle:before {
  background-color: var(--primary);
  transform: translateX(26px);
  left:px;
}

/* Toggle Ends */

/* Text Transformation Starts */
.text-uppercase{
  text-transform: uppercase;
}
.text-lowercase{
  text-transform: lowercase;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

/* End Text Transformtations */