/* This file is used to manage all the global classes need to manage the components of Omnisea */

.section{
    margin-top:120px;
}
.container{
    width:100%;
    max-width:1640px;
    margin:0 auto;
}
.container-fluid{
    width: 100%;
    margin:0 auto;
}
.container-large{
    width:100%;
    max-width:1920px;
    margin:0 auto;
}
.even-padding{
    padding:28px;
}
.odd-padding{
    padding:24px 28px;
}
.slider-nav{
    height:48px;
    width:48px;
}
.btn svg,.btn-small svg{
    margin-left: 13px;
    margin-top: 2px;
}
.btn-crypto{
    padding: 14px 20px;
    border: 1px solid #4C4C4C;
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4C4C4C;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
}